c7n-mailer
# core deps
jinja2
markupsafe
pyyaml
# yaml
ldap3
pyasn1
redis
jmespath
# for other dependencies
# pkg_resources
# transport datadog - recursive deps
# datadog
# decorator
# requests (recursive deps) needed by datadog slackclient splunk
requests
urllib3
idna
charset_normalizer
certifi
# used by splunk mailer transport
# jsonpointer
# jsonpatch
# sendgrid dependencies
# sendgrid
# python_http_client
# ellipticcurve
pymongo[tls,srv,gssapi]==4.6.3
dnspython
